
<div class="row">
  <div class="small-6 large-6 small-centered large-centered columns">
    <a class="button" href="/create_playlist" id="add-playlist" value="plus-sign">+</a>
    <h4>Create New Playlist</h4>
  </div>
  <div class="small-6 large-6 small-centered large-centered columns">
    <ul id="playlists">
      <% if @playlists.nil? %>
      <% else %>
        <% @playlists.each do |playlist| %>
          <li><%= playlist.name %></li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
