<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>bassClef</title>
  <link rel="stylesheet" href="http://cdn.foundation5.zurb.com/foundation.css">
</head>
<body>
  <div class="small-12 large-12 columns" style="width:100%">
    <div class="small-2 large-2  columns logo">
      <img src="img/bass-cleff.png" alt="">
    </div>
    <div class="small-7 large-7 columns">&nbsp</div>
    <div class="small-2 large-2 columns">
      <p class="username"><%= session[:username] %></p>
    </div>
    <div class="small-1 large-1 columns">
      <a class="button" href="/logout" id="log-out">Log out</a>
    </div>
  </div>
  <%= yield %>
</body>
</html>
