<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>bassClef</title>

  <link rel="stylesheet" href="http://cdn.foundation5.zurb.com/foundation.css">
  <link rel="stylesheet" type="text/css" href="/style/style.css">

</head>
<body>
  <div class="row">
    <div class="small-4 large-4 small-centered large-centered columns logo-welcome">
      <img src="/img/bass-cleff.png" alt="">
    </div>
  </div>
  <%= yield %>
</body>
</html>
