<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>bassClef</title>
  <link rel="stylesheet" href="http://cdn.foundation5.zurb.com/foundation.css">
  <link rel="stylesheet" type="text/css" href="/style/style.css">
  <link rel="stylesheet" type="text/css" href="/style/general_enclosed_foundicons.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="/scripts/app.js"></script>
  <style type="text/css">
    /** { border: 1px solid red;}*/
  </style>
</head>
<body>
  <div class="topbar">
    <!-- <div class="logo"> -->
      <a href="/"><img class="logo" src="/img/bass-cleff.png" width="55"></a>
    <!-- </div> -->
    <!-- <div class="small-7 large-7 columns">&nbsp</div> -->
    <div class="topbar-button-container">
      <!-- <div class="gravatar-container"> -->
        <a href="/">
        <img class="gravatar th" src="<%= session[:gravatar] %>">
        </a>
      <!-- </div> -->
      <!-- <div class="logout"> -->
        <a href="/logout" id="log-out"><img class="logout" src="/img/Logout.png" alt=""></a>
      <!-- </div> -->
    </div>
  </div>
  <div class="content">
    <%= yield %>
  </div>
</body>
</html>
