<div class="row">
  <div class="small-4 large-4 small-centered large-centered columns">
  <form data-abide method="post" action="/">
    <label class="error"><%= @fail_message %></label>
    <input type="email" required name="username" id="username" placeholder="E-mail Address">
    <input type="password" name="password" id="password" placeholder="Password">
    <button type="submit" id="login-submit" value="Log In">Log In </button>

    <a href="/signup" type="text" id="register" class="button">Create Account</a>
    </form>
  </div>
</div>
