<div class="row">
  <div class="small-4 large-4 small-centered large-centered columns">
  <form method="post" action="/signup">
    <input type="text" name="username" id="username" placeholder="Username">
    <input type="password" name="password" id="password" placeholder="Password">
    <button type="submit" id="create-submit" value="Log In">Create Account</button>
  </form>
  </div>
</div>
