<div class="row">
  <div class="small-4 large-4 small-centered large-centered columns">
    <h4>Account created successfully!</h4>
    <form method="post" action="/">
      <button id="complete-log-in">Complete Log In</button>
    </form>
  </div>
</div>
